body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: left;
}

.header {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.sector {
  font-size: 18px;
  line-height: 1.6;
  white-space: pre-line;
  margin-top: 20px;
}

.sector h1 {
  font-size: 60px;
}
.editor-container {
  display: flex;
  gap: 20px; /* separación entre editor y consola */
  margin-top: 20px;
}

.editor-container textarea {
  flex: 1;             /* ocupa la mitad del espacio */
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  resize: vertical;
}

.editor-container pre {
  flex: 1;             /* ocupa la otra mitad */
  background-color: #1e1e1e;
  color: #f1f1f1;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  height: fit-content;
}