* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

form {
    width: 20%;
    min-width: 200px;
    background-color: #111;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-right: 2px solid #900;
    box-shadow: 4px 0 10px rgba(255, 0, 0, 0.2);
}

label {
    display: flex;
    flex-direction: column;
    color: #fff;
}

input,
select,
button {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1rem;
}

input,
select {
    background-color: #222;
    color: #fff;
    border: 1px solid #900;
}

input[type="range"] {
    accent-color: red;
}

button {
    background-color: #900;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c00;
}

#grafico {
    width: 80%;
    height: 100%;
    background-color: #111;
    display: block;
    border-left: 2px solid #900;
}
