/* ===== Body ===== */
body {
  background-color: black;
  color: white;
  overflow: hidden;
  /* quita scroll general */
}

/* ===== Header ===== */
header {
  width: 100vw;
  height: 50px;
  background: #ffffff;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  z-index: 1000;
}

header img {
  height: 80%;
}

header .botones {
  display: flex;
  gap: 10px;
}

/* ===== Inputs ===== */
input {
  background-color: red;
  border-radius: 20px;
  padding: 8px;
}

main input {
  width: 100%;
  max-width: 300px;
}

/* ===== Main ===== */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  /* altura menos header */
}

main div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

main input,
main button {
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: red;
  border-radius: 20px;
  padding: 8px 20px;
}

/* ===== Estados Activo/Inactivo ===== */
.activo {
  opacity: 1;
}

.inactivo {
  opacity: 0.5;
}

/* ===== Carrusel de Meses ===== */
.meses-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  overflow: hidden;
  opacity: 0.5;
}
.fila {
  display: flex;
  gap: 10px; /* separacion entre input y select */
  align-items: center;
}
.fila {
  display: flex !important;
  gap: 10px !important;
  align-items: center !important;

}
main .fila {
  flex-direction: row;
}
select {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px red;
}
