<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copa Renault</title>
</head>

<body>

    <h1>Copa Renault</h1>

    <h2>Bienvenido, {{ nombre }}</h2>

    <nav>
        <ul>
            {% if rango == "C" %}
            <a href="{{ url_for('admin') }}">Administrar Copa Renault</a>
            <a href="{{ url_for('admin_equipos') }}">Equipos</a>
            <a href="{{ url_for('admin_jugadores') }}">Jugadores</a>
            <a href="{{ url_for('admin') }}">Partidos y horarios</a>
            {% endif %}
            <li><a href="/">Partidos</a></li>
            <li><a href="/comida">Comida</a></li>
            <li><a href="/cantina">Cantina</a></li>
            <li><a href="#">Mapa</a></li>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">Comprar entrada</a></li>
            <li><a href="#">Inscripción</a></li>
            <li><a href="#">Documentación</a></li>
        </ul>
    </nav>

    <br>

    <a href="/logout">Cerrar sesión</a>

</body>

</html>