{% extends "base.html" %}

{% block contenido %}

<section class="pagina">

<h1>Materias disponibles</h1>

{% if materias %}

    <div class="grid">

        {% for materia in materias %}

            <div class="tarjeta">

                <h2>
                    {{ materia.nombre }}
                </h2>

                <p>
                    {{ materia.descripcion }}
                </p>

                {% if materia.id in materias_inscriptas %}

                    <p>
                        ✅ Ya estás inscripto
                    </p>

                    <a
                        href="{{ url_for('materia', materia_id=materia.id) }}"
                        class="boton"
                    >
                        Entrar a la materia
                    </a>

                {% else %}

                    <a
                        href="{{ url_for('inscribirse', materia_id=materia.id) }}"
                        class="boton"
                    >
                        Inscribirme
                    </a>

                {% endif %}

            </div>

        {% endfor %}

    </div>

{% else %}

    <p>
        Todavía no hay materias disponibles.
    </p>

{% endif %}

</section>

{% endblock %}
