body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f0f4f8;
}

main {
    max-width: 700px;
    margin: auto;
}

form {
    display: grid;
    gap: 0.8rem;
    margin-bottom: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 90%;
    max-width: 900px;
    height: 500px;
    margin: 2rem auto;
    display: block;
}