body{
    background-color: black;
    color: white;
    margin: 0;
    height: 100vh;   
}


.logo{
    display: flex;
    justify-content: center;
}

.logo-image{
    width: 250px;
    height: 250px;

}

.barranavegativa{
    background-color: black;
    color: white;
    margin: 0;
    width: 100vh;
    font-size: 40px;
}

.botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}

.botonpar{
    display: flex;
    background-color: red;
}

.botoninpar{
    display: flex;
    background-color: white;
}