body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  width: 100vh;
}

.picture {
  width: 300px; /* Cambia el valor según el tamaño deseado */
  height: 200px; /* Opcional: si quieres un alto fijo */
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
  border-radius: 10px; /* Opcional: agrega bordes redondeados */
}
.primer-componente{
  color: red;
}