body {
    color: white;
    background-color: black;
}


.all {
    align-items: center;
    align-content: center;
    text-align: center;
}

.text {
    color: white;
}

.input {
    background-color: black;
    color: white;
}