body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  margin: 10px 0;
  text-align: center;
}

.input {
  border-radius: 50px;
  border: 3px solid aqua; /* Aumento el grosor del borde */
  background-color: black;
  color: white;
  font-size: 20px;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 50px;
  border: 3px solid brown; /* Aumento el grosor del borde */
  color: red;
  background-color: black;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: brown;
  color: white;
}

.roulette {
  border-radius: 50%;
  border: 8px solid red; /* Aumento el grosor del borde y cambio el color */
  background-color: white;
  color: red;
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  transform: rotate(30deg);
  position: absolute;
  width: 100%;
  text-align: center;
  border-radius: 50% 10% 50% 10%;
}