{% extends "base.html" %}

{% block contenido %}

<section class="pagina">

    <h1>Crear materia</h1>

    <form method="POST">

        <input
            type="text"
            name="nombre"
            placeholder="Nombre de la materia"
            required
        >

        <textarea
            name="descripcion"
            placeholder="Descripcion de la materia"
        ></textarea>

        <input
            type="text"
            name="codigo"
            placeholder="Codigo de la materia"
            required
        >

        <button type="submit" class="boton">
            Crear materia
        </button>

    </form>

</section>

{% endblock %}