body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contenedor {
    margin-top: 50px;
    width: 400px;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#agregarBtn {
    background-color: #4caf50;
    color: white;
}

#agregarBtn:hover {
    background-color: #45a049;
}

.tareas {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.tarea span.completada {
    text-decoration: line-through;
    color: #888;
}

.tarea button {
    margin-left: 5px;
    font-size: 0.9em;
}

.listo {
    background-color: #2196f3;
    color: white;
}

.listo:hover {
    background-color: #1976d2;
}

.eliminar {
    background-color: #f44336;
    color: white;
}

.eliminar:hover {
    background-color: #d32f2f;
}


.deleteBtn{
    width: 20px;
    height: 20px;
}

.category {
    width: 10px;

}