body {
  background-color: black;
  color: white; 
  margin: 0;
  height: 100vh;
}


.titulo  {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}g

.botones {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto; 
  column-gap: 1px;
  row-gap: 1px;
  justify-content: center;
}

.boton {
  /* display: flex; */
  padding: 10px; 
  font-size: 10px;
  gap: 1px;
  padding: 15px 30px;
  font-size: 200px;
}

.jugador{
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  font-size: 200px;
}